/* Color scheme settings */

.hydraLoader, .hydraLoader > body {
    display: block;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.hydraLoader {
    overflow: auto;
    background-color: hsl(var(--c-primary-H, 0), var(--c-primary-S, 0%), var(--c-primary-L, 90%));
    color: hsl(var(--c-primary-t-H, 0), var(--c-primary-t-S, 0%), var(--c-primary-t-L, 30%));
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
}

.hydraLoader.hydraLoader {
    --c-primary-H:   0; --c-primary-S:   0%; --c-primary-L:   90%;
    --c-primary-t-H: 0; --c-primary-t-S: 0%; --c-primary-t-L: 30%;
    --c-brand-H:   351; --c-brand-S:    84%; --c-brand-L:     55%;
}

.hydraLoader.hydraLoader.elzTheme-dark {
    --c-primary-H:   223; --c-primary-S:   7%; --c-primary-L:   20%;
    --c-primary-t-H: 223; --c-primary-t-S: 7%; --c-primary-t-L: 88%;
}

@media (prefers-color-scheme: dark) {
    .hydraLoader.hydraLoader.elzTheme-device {
        --c-primary-H:   223; --c-primary-S:   7%; --c-primary-L:   20%;
        --c-primary-t-H: 223; --c-primary-t-S: 7%; --c-primary-t-L: 88%;
    }
}

.hydraLoader.hydraLoader .bg {
    background-color: hsla(
            var(--bg-H-main),
            var(--bg-S-main),
            calc(var(--bg-L-main) + (var(--bg-L-mod) * var(--bg-L-mod-inv)) + (var(--bg-L-factor) * var(--bg-L-factor-inv))),
            var(--bg-A-main)
    );
    --bg-L-mod:    0%;
    --bg-L-factor: 0%;
    --bg-A-main:       1;
    --bg-L-mod-inv:    1;
    --bg-L-factor-inv: 1;
}

.hydraLoader.hydraLoader .fn {
    color: hsla(
            var(--fn-H-main),
            var(--fn-S-main),
            calc(var(--fn-L-main) + (var(--fn-L-mod) * var(--fn-L-mod-inv)) + (var(--fn-L-factor) * var(--fn-L-factor-inv))),
            var(--fn-A-main)
    );
    --fn-L-mod:    0%;
    --fn-L-factor: 0%;
    --fn-A-main:       1;
    --fn-L-mod-inv:    1;
    --fn-L-factor-inv: 1;
}

.hydraLoader.hydraLoader .fill-CC { fill: currentColor; }

.hydraLoader.hydraLoader .fn-brand     { --fn-H-main: var(--c-brand-H);     --fn-S-main: var(--c-brand-S);     --fn-L-main: var(--c-brand-L); }
.hydraLoader.hydraLoader .fn-primary-t { --fn-H-main: var(--c-primary-t-H); --fn-S-main: var(--c-primary-t-S); --fn-L-main: var(--c-primary-t-L); }
.hydraLoader.hydraLoader .fn-primary   { --fn-H-main: var(--c-primary-H);   --fn-S-main: var(--c-primary-S);   --fn-L-main: var(--c-primary-L); }

/* Fonts */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../../fonts/roboto400lat.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../../fonts/roboto400cyr.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../../fonts/roboto700lat.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../../fonts/roboto700cyr.woff2') format('woff2');
}

/* end */










:root:not(.hydraLoader) .authWrap { display: none; }

.authWrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items:     center;
    box-sizing: border-box;
    padding: 32px 16px;
    overflow: hidden;
    width: 100%;
}

.authWrap .authFormWrap,
.authLogo .letter { transition-duration: 0.5s; }
.authLogo .letter { transition-delay:    0.5s; }

.authWrap .circle {
    display: flex;
    align-items:     center;
    justify-content: center;
    width:  96px;
    height: 96px;
    border-radius: 1024px;
    transition-duration: 0.25s;
}

.authWrap:not(.ready) .circle:not(.ready) { transform: scale(3); }
.authWrap:not(.ready) .circle.colored:not(.ready) { background-color: rgba(0, 0, 0, 0.075); }

.authWrap .authFormWrap {
    display: block;
    width: 288px;
    height: 0;
    overflow: hidden;
}

.authWrap.ready .authFormWrap { height: 360px; }

.authWrap .authFormShow {
    opacity: 0;
    transition: 0.25s opacity linear;
}

.authWrap.ready .authFormShow { opacity: 1; }

.authWrap.ready .authFormShow:nth-child(1) { transition-delay: 0.75s; }
.authWrap.ready .authFormShow:nth-child(2) { transition-delay: 1s; }
.authWrap.ready .authFormShow:nth-child(3) { transition-delay: 1.25s; }
.authWrap.ready .authFormShow:nth-child(4) { transition-delay: 1.5s; }
.authWrap.ready .authFormShow:nth-child(5) { transition-delay: 1.75s; }







/* Logo settings */

.authLogo {
    position: absolute;
    display: block;
    height: 53px;
    margin-top: -4px;
}

.authLogo .letters:not(.fn)  { fill: #000000; }
.authLogo .brandCap:not(.fn) { fill: #ED2D4A;}

/* Center */
.authLogo .authLogoV1 { transform: translateX(42px); }
.authLogo .authLogoV2 { transform: translateX(42px); }
.authLogo .authLogoK1 { transform: translateX(42px); }

/* Ready positions */

.authWrap:not(.ready) .authLogo .letters .letter:not(.loader) { opacity: 0; }

.authWrap.ready .loaderGradient { display: none; }

.authWrap.ready .authLogo .authLogoV1 { transform: translateX(0px); }
.authWrap.ready .authLogo .authLogoV2 { transform: translateX(42px); }
.authWrap.ready .authLogo .authLogoK1 { transform: translateX(84px); }

.authWrap.ready .loader { color: inherit; }

/* end */